{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'mainapp/css/auth.css' %}">
    <title>Document</title>
</head>
<body>

<div class="main-wrapper" style='background-image: url( {% static "mainapp/img/background_auth.jpg" %} )';>
<!--MAIN WRAPPER -->
    <div class="child-wrapp">
    <!-- CHILD WRAPPER -->
        <div class="greeting-wrapp">

        </div>
        <!-- FORM WRAPPER -->
        <div class="form-wrapp">
            <!-- CONTAINER -->

            <div class="container">

                <div class="row main-form">
                    
                    <form class="form-container" method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}" class="cols-sm-2 control-label">{{ field.label }}</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i  aria-hidden="true"></i></span>
                                        {{ field }}
                                        <!-- <input type="text" class="form-control" name="username" id="name" placeholder="Enter your Name"/> -->
                                    </div>
                                    <div class="form-error">
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- <div class="form-group first-name">
                            <label for="first_name" class="cols-sm-2 control-label">First name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="first_name" id="username" placeholder="Enter your Username"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group last-name">
                            <label for="last_name" class="cols-sm-2 control-label">Last name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="last_name" id="lastname" placeholder="Enter your Username"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group email">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email"/>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group pass1">
                            <label for="password" class="cols-sm-2 control-label">Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password"/>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group pass2">
                            <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password"/>
                                </div>
                            </div>
                        </div> -->
                    
                        <div class="form-group btn-send">
                            <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" value="Register">
                        </div> 
                        
                    </form>
                </div>

                <div class="log-or-reg">
                    <div class="login-btn">
                        <span class="render-login">Вход</span>
                    </div>
                    <div class="registration-btn">
                        <span class="render-registration">Регистрация</span>
                    </div>
                </div>
            <!-- END CONTAINER -->
            </div>

        <!-- END FORM WRAPPER -->
        </div>
    <!-- END CHILD WRAPPER -->
    </div>
<!-- END MAIN WRAPPER -->
</div>

<!--

 <div id="body-wrapp">   
 
</div>

-->

</body>
<script src="{% static 'mainapp/js/auth.js' %}" type="text/javascript">
    
</script>
</html>